node_modules/

dist/
*.tsbuildinfo

.env
.env.local
.env.*.local

logs/
*.log
npm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

coverage/

build/
